h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

h3 {
  font-size: 22px;
  color: #555;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #777;
}

.button-container {
  display: flex;
  gap: 10px; /* Spacing between the buttons */
  margin-top: 15px; /* Space between the user details and the buttons */
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.98);
}

/* Delete button - red color */
button.delete-button {
  background-color: #FFA07A;
  color: white;
}

/* Edit button - green color */
button.edit-button {
  background-color: #FFA07A;
  color: white;
}

/* Styling for the edit form */
form {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #FFA07A;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

form button:hover {
  background-color: #0056b3;
}
