h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-table th, .user-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
  font-size: 18px;
}

.user-table td {
  font-size: 16px;
  color: #555;
}

.button-container {
  display: flex;
  gap: 10px;
}
button {
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: #FFA07A; /* Set the default button color */
  color: white;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.98);
}

/* Delete button */
button.delete-button {
  background-color: #FFA07A; /* Use the same color for the delete button */
  color: white;
}

/* Edit button */
button.edit-button {
  background-color: #FFA07A; /* Use the same color for the edit button */
  color: white;
}

/* Styling for the edit form */
form button {
  width: 100%;
  padding: 10px;
  background-color: #FFA07A; /* Use the same color for the form submit button */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

form button:hover {
  background-color: #FF8C66; /* Slightly darker on hover */
}
